.product-theses
    .product-theses__wrapper.col-6
        .product-theses__icon
            img(src="images/product-theses__icon-calendar.svg", alt="calendar")
        .product-theses__descr Производство<br>
            span от 2 дней
    .product-theses__wrapper.col-6
        .product-theses__icon
            img(src="images/product-theses__icon-cart.svg", alt="cart")
        .product-theses__descr Минимальная партия 
            span 10 шт
    .product-theses__wrapper.col-6
        .product-theses__icon
            img(src="images/product-theses__icon-delivery.svg", alt="delivery")
        .product-theses__descr Доставка<br>
            span по России и СНГ
    .product-theses__wrapper.col-6
        .product-theses__icon
            img(src="images/product-theses__icon-tools.svg", alt="tools")
        .product-theses__descr Разработка дизайна&nbsp;
            span бесплатно