@include media-breakpoint-up(xs) {
  .buttons {
    max-width: 100%;
    box-sizing: border-box !important;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    outline: none !important;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    height: 40px;
    color: $white;
    
    &_light-blue {
      background: $primary-bg-blue;
      color: $primary-font-blue;
      &:hover {
        background: $primary-bg-dark-blue;
      }
      &:active {
        background: $primary-bg-darker-blue;
      }
    }
    &_blue {
      background: $primary-font-light-blue;
      &:hover {
        background: $primary-font-middle-blue
      }
      &:active {
        background: $primary-font-dark-blue;
      }
    }
    &_offer {
      font-weight: 600;
      width: 100%;
      height: 52px;
      font-size: 16px;
      margin-top: 12px;
    }
  }
}

@include media-breakpoint-down(xs) {

}