.reviews
    .title.title_main Посмотрите отзывы наших клиентов
    .card__slider-wrapper
        .card__inner&attributes({'data-swiper-type': 'threeSlides'}, {'data-swiper': 'swiper'})
            +card-image({swiper: true, longImage: true}, i)
        .swiper__button.swiper__button_prev
        .swiper__button.swiper__button_next