@include media-breakpoint-up(xl) {
  .card {
    &-link {
      // padding-bottom: 44px;
    }
    &__params {
      display: flex;
      justify-content: space-between;
      &-wrapper {
        flex-direction: column;
      }

    }
    &__name {
      font-size: 16px;
    }
    &__price, &__amount {
      font-size: 14px;
    }
  }
  [data-swiper-type="threeSlides"] {
    max-width: 100%;
  }
  [data-swiper="swiper"] {
    .swiper-wrapper {
      .swiper-slide {
        max-width: 100%;
      }
    }
  }
}

@media (min-width: 1400px) {

}