@include media-breakpoint-up(xs) {
  .title {
    color: $primary-font-blue;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 20px;
  }
  .catalog {
    .product-links {
      padding-left: 15px;
      // padding-right: 15px;
      overflow-x: scroll;
      display: flex;
      white-space: nowrap;
      margin-top: 24px;
      padding-bottom: 32px;
      margin-bottom: 0;
      &__item {
        height: 36px;
        border-radius: 8px;
        background: $primary-bg-blue;
        margin-right: 15px;
      }
      .product-link {
        padding: 0 16px;
        font-weight: 600;
        font-size: 13px;
        color: $primary-font-blue;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
}

@include media-breakpoint-down(xs) {

}