mixin button-contacts
    .form__input-container.field-feedback-phone
        input.modal-offer__phone(type="tel" name="phone" required)
        .help-block
    .form__submit-container
        button.buttons.buttons_blue.buttons_offer(type="submit") Оставить заявку