.reasons
    .title.title_main Почему нам доверяют
    .row
        .reasons__wrapper.col-4
            .reasons__icon 
                img.reasons__icon-img(src="images/reasons__delivery.svg", alt="delivery")
            .reasons__descr Бесплатно отправляем образцы изделий
        .reasons__wrapper.col-4
            .reasons__icon 
                img.reasons__icon-img(src="images/reasons__material.svg", alt="material")
            .reasons__descr Используем только качественные ткани и материалы
        .reasons__wrapper.col-4
            .reasons__icon 
                img.reasons__icon-img(src="images/reasons__defect.svg", alt="defect")
            .reasons__descr Каждый заказ проходит проверку на брак
        .reasons__wrapper.col-4
            .reasons__icon 
                img.reasons__icon-img(src="images/reasons__sewing-machine.svg", alt="sewing-machine")
            .reasons__descr Собственный швейный и цех по нанесению изображений
        .reasons__wrapper.col-4
            .reasons__icon 
                img.reasons__icon-img(src="images/reasons__ruler.svg", alt="ruler")
            .reasons__descr Шьем по индивидуальному дизайну и размерам