include ../logo/logo
header.header
    .container
        .header__mobile.d-lg-none
            .header__mobile-button(data-role="menu-button")
                span 
                span 
                span 
            a(href="#").header__mobile-logo
                +logo
            a(href="tel:88332354344").header__phone
                img(src="images/icon__header__phone.svg", alt="tel").header__mobile-phone