.modal-offer#modal-offer
    h2.title Запросить<br>коммерческое предложение
    .modal-offer__descr Оставьте свой номер телефона, наш менеджер перезвонит Вам чтобы уточнить куда выслать коммерческое предложение
    form.form-offer(action="" name="offer" method="post" target="_top")
        input.modal-offer__phone(type="phone" name="phone" maxlength="14" placeholder="+7(" required)
        //- label.modal-offer-label(for="phone") 
        button.buttons.buttons_blue.buttons_offer(type="submit") Оставить заявку
    .policy
        .policy__text Нажимая на кнопку, вы принимаете условия
        a(href="#").policy__link Политики защиты персональной информации
    .modal-offer__close(data-fancybox-close)
        span
        span