.header__contacts
    a(href="tel:88332354344").header__contacts-phone +7 (8332) 35-43-44
    button.buttons.buttons_light-blue(data-role="modal-request" data-fancybox data-src="#modal-request") Рассчитать стоимость