@include media-breakpoint-up(xs) {
  .card-category {
    padding-top: 31px;
    padding-bottom: 52px;
    .title {
      font-size: 24px;
      margin-bottom: 28px;
    }
    &__link {
      height: 64px;
      max-width: 343px;
      margin-bottom: 12px;
      font-size: 14px;
    }
    .buttons {
      justify-content: start;
      padding-left: 24px;
    }
  }
}

@include media-breakpoint-down(xs) {

}