mixin logo
    .logo.logo_header
        img.logo__img(src="images/logo.svg" alt="Простор")
//- mixin logo-footer
//-     .logo.logo_footer
//-         img.logo__img(src="images/logo_footer.png" alt="Купава")