.footer-contacts__social
    a(href="#").footer-contacts__social-item
        img(src="images/icon__vk.svg", alt="vk").footer-contacts__social-icon
    a(href="#").footer-contacts__social-item
        img(src="images/icon__whatsup.svg", alt="whatsup").footer-contacts__social-icon
    a(href="#").footer-contacts__social-item
        img(src="images/icon__viber.svg", alt="viber").footer-contacts__social-icon
    a(href="#").footer-contacts__social-item
        img(src="images/icon__telegram.svg", alt="telegram").footer-contacts__social-icon