.product-description
    .title.title_small Описание
    .product-description__text В данном блоке вы можете более подробно описать изделие, добавить сюда все, что считаете важным при выборе и оформлении заказа.