.product-examples
    h2.title.title_small Примеры изготовленной нами продукции
    .card__slider-wrapper
        .card__inner&attributes({'data-swiper-type': 'oneSlide'}, {'data-swiper': 'swiper'})
            +card-image({swiper: true, wideImage: true}, i)
        .swiper__button.swiper__button_prev
        .swiper__button.swiper__button_next