extends layout/main
include ../blocks/card/card
include ../blocks/breadcrumbs/breadcrumbs
block content
    section
        +breadcrumbs(["Главная", "Хлебные крошки", "Хлебные крошки", "Хлебные крошки"], "Хлебные крошки")
        include ../blocks/catalog/catalog
        .container
            +card(8)
        +modal('modal-offer')
        .container
            include ../blocks/card-category/card-category