extends layout/main
block content
    include ../blocks/breadcrumbs/breadcrumbs
    +breadcrumbs(["Главная", "Хлебные крошки", "Хлебные крошки", "Хлебные крошки"], "Хлебные крошки")
    include ../blocks/product/product