@include media-breakpoint-up(md) {
  .card {
  }
  .card-image_mobile {
    max-width: 350px;
    .card__img {
      width: auto;
      max-height: 696px;
    }
  }
  .swiper__button {
    &_prev {
      left: 35px;
    }
    &_next {
      right: 35px;
    }
  }
  [data-swiper-type="threeSlides"] {
    max-width: 620px;
  }
  // [data-swiper-type="oneSlide"] {
  //   max-width: 100%;
  // }
}