@include media-breakpoint-up(xs) {
  .card {
    &__inner {
      padding-bottom: 25px;
    }
    &-link {
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
    &__image {
      border: 1px solid #e6e6e6;
      border-radius: 16px;
      overflow: hidden;
      margin: 0 auto;
      position: relative;
    }
    &__params {
      margin: 0 auto;
      max-width: 100%;
      margin-top: 10px;
      &_product {
        max-width: 343px;
        margin: 0 auto;
      }
      &-wrapper {
        display: flex;
        justify-content: space-between;

      }
    }
    &__name {
      font-weight: 600;
      color: $primary-font-blue;
      font-size: 13px;
    }
    &__price {
      font-weight: 400;
      font-size: 12px;
      color: $primary-font-blue;
      display: inline-block;
      vertical-align: middle;
    }
    &__amount {
      font-weight: 400;
      font-size: 12px;
      color: $primary-font-light-grey;
      display: inline-block;
      vertical-align: middle;
    }
    &__hidden {
      display: none;
    }
  }
  .card-image__bottom-line {
    position: absolute;
    width: 100px;
    height: 3px;
    bottom: 0;
    background-color: $primary-font-light-blue;
  }
}

@include media-breakpoint-down(xs) {

}