.video-product
    .video-product__preview
        img(src="/images/videoProduct-preview.png" class="video-product__preview-img")
    .video-product__video(data-player='{"id":"player", "video":"NsQSN_g75R8"}')
        #player