footer.footer
    .container
        .row
            .footer-contacts.col
                .footer-contacts__logo
                .footer-contacts__links         
                        a(href="tel:88332354344").footer-contacts__link
                            img(src="images/icon__footer__phone.svg", alt="phone").footer-contacts__links-icon
                            .footer-contacts__links-descr +7 (8332) 35-43-44
                        a(href="#").footer-contacts__link
                            img(src="images/icon__footer__geo.svg", alt="geo").footer-contacts__links-icon
                            .footer-contacts__links-descr г. Киров, Октябрьский проспект 24, корпус 3-5 
                        a(href="mailto:prostor@ptkprostor.ru").footer-contacts__link
                            img(src="images/icon__footer__mail.svg", alt="email").footer-contacts__links-icon
                            .footer-contacts__links-descr prostor@ptkprostor.ru
                .footer-contacts__social
                    .footer-contacts__social-item
                        img(src="images/icon__vk.svg", alt="vk").footer-contacts__social-icon
                    .footer-contacts__social-item
                        img(src="images/icon__whatsup.svg", alt="whatsup").footer-contacts__social-icon
                    .footer-contacts__social-item
                        img(src="images/icon__viber.svg", alt="viber").footer-contacts__social-icon
                    .footer-contacts__social-item
                        img(src="images/icon__telegram.svg", alt="telegram".footer-contacts__social-icon)
        .footer-links.col
            .row
                .col-6 
                    .footer-links__item
                        a(href="#").footer-links__item-title Спортивная форма
                        a(href="#").footer-links__item-link
                    .footer-links__item
                        a(href="#").footer-links__item-title Оборудование для ИК
                        a(href="#").footer-links__item-link
                    .footer-links__item
                        a(href="#").footer-links__item-title Надувные фигуры
                        a(href="#").footer-links__item-link
                    .footer-links__item
                        a(href="#").footer-links__item-title Наружная реклама
                        a(href="#").footer-links__item-link  
                .col-6
                    .footer-links__item
                        a(href="#").footer-links__item-title Корпоративная атрибутика
                        a(href="#").footer-links__item-link
                    .footer-links__item
                        a(href="#").footer-links__item-title Флаги
                        a(href="#").footer-links__item-link
                    .footer-links__item
                        a(href="#").footer-links__item-title Гос. Символика
                        a(href="#").footer-links__item-link
                    .footer-links__item
                        a(href="#").footer-links__item-title О компании
                    .footer-links__item
                        a(href="#").footer-links__item-title Новости
                    .footer-links__item
                        a(href="#").footer-links__item-title Условия сотрудничества
                    .footer-links__item
                        a(href="#").footer-links__item-title Контакты

