footer.footer
    .container
        .row
            .footer-contacts.col-12.col-xl-2
                .footer-contacts__logo
                .footer-contacts__links         
                        a(href="tel:88332354344").footer-contacts__link
                            img(src="images/icon__footer__phone.svg", alt="phone").footer-contacts__links-icon
                            .footer-contacts__links-descr +7 (8332) 35-43-44
                        a(href="#").footer-contacts__link
                            img(src="images/icon__footer__geo.svg", alt="geo").footer-contacts__links-icon
                            .footer-contacts__links-descr г. Киров,&nbsp;Октябрьский проспект&nbsp;24,&nbsp;корпус&nbsp;3&#8209;5
                        a(href="mailto:prostor@ptkprostor.ru").footer-contacts__link
                            img(src="images/icon__footer__mail.svg", alt="email").footer-contacts__links-icon
                            .footer-contacts__links-descr prostor@ptkprostor.ru
                include ../footer-social/footer-social
            nav.footer-links.col-xl-10
                .container-footer
                    .footer-links__wrapper
                        a(href="#").footer-links__title Спортивная форма
                        ul.footer-links__list
                            li.footer-links__list-item
                                a(href="#") Хоккей
                            li.footer-links__list-item
                                a(href="#") Хоккей с мячом
                            li.footer-links__list-item
                                a(href="#") Футбол
                            li.footer-links__list-item
                                a(href="#") Волейбол
                            li.footer-links__list-item
                                a(href="#") Баскетбол
                            li.footer-links__list-item
                                a(href="#") Спортивные костюмы
                            li.footer-links__list-item
                                a(href="#") Спортивные головные уборы
                    .footer-links__wrapper
                        a(href="#").footer-links__title Корпоративная атрибутика
                        ul.footer-links__list
                            li.footer-links__list-item
                                a(href="#") Футболки
                            li.footer-links__list-item
                                a(href="#") Шорты
                            li.footer-links__list-item
                                a(href="#") Шарфы
                            li.footer-links__list-item
                                a(href="#") Нанесение на изделия
                            li.footer-links__list-item
                                a(href="#") Спецодежда
                            li.footer-links__list-item
                                a(href="#") Верхняя одежда
                            li.footer-links__list-item
                                a(href="#") Головные уборы
                            li.footer-links__list-item
                                a(href="#") Фартуки, передники
                            li.footer-links__list-item
                                a(href="#") Галстуки, косынки
                            li.footer-links__list-item
                                a(href="#") Толстовки (все виды кофт)
                    .footer-links__wrapper
                        a(href="#").footer-links__title Оборудование для ИК
                        ul.footer-links__list
                            li.footer-links__list-item
                                a(href="#") Ширмы для голосования
                            li.footer-links__list-item
                                a(href="#") Кабины для голосования
                            li.footer-links__list-item
                                a(href="#") Стенды информационные
                            li.footer-links__list-item
                                a(href="#") Защитные экраны
                        a(href="#").footer-links__title Надувные фигуры
                        ul.footer-links__list
                            li.footer-links__list-item
                                a(href="#") Фигуры стандарт
                            li.footer-links__list-item
                                a(href="#") Фигуры индивидуальные
                    .footer-links__wrapper
                        a(href="#").footer-links__title Флаги
                        ul.footer-links__list
                            li.footer-links__list-item
                                a(href="#") РФ
                            li.footer-links__list-item
                                a(href="#") Флаг ВДВ
                            li.footer-links__list-item
                                a(href="#") Флаг ВМФ
                            li.footer-links__list-item
                                a(href="#") Флаги стран
                        a(href="#").footer-links__title Гос. Символика
                        ul.footer-links__list
                            li.footer-links__list-item
                                a(href="#") Гербы
                            li.footer-links__list-item
                                a(href="#") Флагштоки виндеры
                            li.footer-links__list-item
                                a(href="#") Флагштоки уличные
                            li.footer-links__list-item
                                a(href="#") Настольные флаги
                            li.footer-links__list-item
                                a(href="#") Напольные флаги
                    .footer-links__wrapper
                        a(href="#").footer-links__title Наружная реклама
                        ul.footer-links__list
                            li.footer-links__list-item
                                a(href="#") Вывески
                            li.footer-links__list-item
                                a(href="#") Изделия вакуумной формовкой
                            li.footer-links__list-item
                                a(href="#") Топиарные изделия
                            li.footer-links__list-item
                                a(href="#") Изделия из пенопласта
                            li.footer-links__list-item
                                a(href="#") Изделия на фрезере
                            li.footer-links__list-item
                                a(href="#") Изделия на лазерном станке
                    .footer-links__wrapper
                        a(href="#").footer-links__title О компании
                        a(href="#").footer-links__title Новости
                        a(href="#").footer-links__title Условия сотрудничества
                        a(href="#").footer-links__title Контакты
        .footer-info
            .footer-info__rights
                .footer-info__rights-title Все права защищены © 2002 - 2022
                a.footer-info__rights-link Политика защиты персональной информации
            .footer-info__brand
                .footer-info__brand-title Создание и продвижение сайта – 
                    a.footer-info__brand-link Brandmaker.ru