@include media-breakpoint-up(xs) {
  .button-offer {
    width: 310px;
    height: 48px;
    border-radius: 8px;
    background: $primary-font-light-blue;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    border: none;
  }
}

@include media-breakpoint-down(xs) {

}