.catalog
    .container
        .title-wrapper
            h1.title Спортивная форма для хоккея
            include ../buttons/button-offer
    ul.product-links
        .container
            each item in catalog
                li.buttons.buttons_light-blue
                    a.product-link(href="#")!= item.category