mixin menuProductMobile
    each item in menu
        if(item.subitem)
            li.menu__block(data-role="menu-item")
                a(href="#").menu__point(class="menu__point_" + item.id)!= item.item
            li.menu__submenu
                ul
                    each subitem in item.subitem
                        li
                            a.menu__point-subitem!= subitem
        else
            li.menu__block.menu__block_last(data-role="menu-item")
                a(href="#").menu__point(class="menu__point_" + item.id)!= item.item