include ../card/card
- var atr = 'swiper="two-slides"';
.product
    .container
        .row
            .col-12
                .title Наименование изделия
                .card__slider-wrapper
                    .card__inner&attributes({'data-swiper-type': 'twoSlides'}, {'data-swiper': 'swiper'})
                        +card-image({swiper: true, longImage: true}, i)
                    .swiper__button.swiper__button_prev
                    .swiper__button.swiper__button_next
                .card__params_product
                    .card__params-wrapper
                        .card__price от 3 990 руб.
                        .card__amount оптовая цена
                    .card__params-descr Введите необходимое количество изделий и отправьте заявку, мы перезвоним Вам, сообщим итоговую стоимость с доставкой и сроками производства
                include ../form-product/form-product
                //- include ../video-product/video-product
                include ../product-examples/product-examples
                include ../product-theses/product-theses